.description {
  position: relative;

  padding-top: 50px;
  padding-bottom: 10px;

  .line__top {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 2px;

    background-color: #dae2e4;

    @include mobile {
      display: none;
    }
  }

  .line__bottom {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 2px;

    background-color: #dae2e4;

    @include tablet-landscape {
      bottom: 80px;
    }

    @include mobile {
      bottom: 210px;
    }
  }

  .description__tabs {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    display: flex;

    list-style: none;

    @include mobile {
      flex-direction: column;
      margin-bottom: 60px;
    }

    li {
      padding: 20px 50px;

      border: 2px solid #585f87;
      background-color: #69709b;

      cursor: pointer;

      @include mobile {
        padding: 10px;
      }

      p {
        margin: 0;

        color: #ffffff;
        font-family: $font-oswald-400;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;

        @include tablet-landscape {
          font-size: 18px;
        }

        @include mobile {
          text-align: center;

          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
        }
      }

      .description__block-wrapper {

        h3 {
          margin-bottom: 10px;

          color: #56c5af;
          font-family: $font-oswald-400;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          text-transform: uppercase;
        }

        h4 {
          margin-bottom: 20px;

          color: #69709b;
          font-family: $font-oswald-400;
          font-size: 20px;
          font-weight: 400;
          line-height: 50px;
        }

        p {
          margin-bottom: 20px;

          color: #4f5056;
          font-family: $font-os-400;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }

        .list__title {
          margin-top: 0;

          color: #4f5056;
          font-family: $font-os-600;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }

        .list__wrapper {
          display: flex;
          flex-direction: column;
        }

        ul {
          margin: 0;
          padding: 0;

          list-style:none;

          &:last-child {
            margin-bottom: 30px;
          }

          li {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            color: #4f5056;
            font-family: $font-os-300;
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;

            background-color: #ffffff;
            border: 0;

            &::before {
              content: "";

              display: block;
              width: 11px;
              height: 11px;
              margin-right: 15px;

              background-color: #68c5b3;
              border-radius: 50%;
            }
          }
        }

        .img {
          width: 100%;
          height: auto;
          margin: 0 auto;

          object-fit: contain;
        }
      }
    }

    .active {
      position: relative;

      border: 2px solid #d4dcde;
      border-bottom: 0;
      background-color: #ffffff;

      @include mobile {
        border: 2px solid #d4dcde;

        .description__block-wrapper {
          display: block;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc((100% - 16px) / 2);

        width: 16px;
        height: 10px;

        background-image: url("../img/description-arrow.png");
        background-position: 0 0;
        background-repeat: no-repeat;

        @include mobile {
          top: 70px;
        }
      }

      p {
        color: #69709b;

        @include mobile {
          margin-bottom: 50px;
        }
      }
    }
  }

  .description__block-wrapper {
    display: none;

    h3 {
      margin: 0;
      margin-bottom: 15px;

      color: #56c5af;
      font-family: $font-oswald-400;
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
      margin-bottom: 30px;

      color: #69709b;
      font-family: $font-oswald-400;
      font-size: 26px;
      font-weight: 400;
      line-height: 50px;
    }

    p {
      margin: 0;

      color: #4f5056;
      font-family: $font-os-300;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
    }

    .list__title {
      margin-top: 50px;

      color: #4f5056;
      font-family: $font-os-600;
      font-size: 18px;
      font-weight: 600;
      line-height: 42px;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 50px;

      list-style:none;

      &:first-child {
        margin-right: 70px;
      }

      li {
        display: flex;
        align-items: center;

        color: #4f5056;
        font-family: $font-os-300;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;

        &::before {
          content: "";

          display: block;
          width: 11px;
          height: 11px;
          margin-right: 15px;

          background-color: #68c5b3;
          border-radius: 50%;
        }
      }
    }

    .list__wrapper {
      display: flex;
    }

    video {
      width: 100%;
      height: auto;
    }
  }

  .description__wrapper {

    width: 70%;
    min-height: 537px;
    margin-bottom: 30px;

    @include tablet-landscape {
      width: 100%;
    }

    @include mobile {
      display: none;
    }

    .active {
      display: block;
    }
  }

  .downloads__wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      flex-basis: 50%;

      @include mobile {
        margin-right: 0;
        margin-bottom: 10px;
      }

      img {
        width: 35px;
        height: 47px;
        margin-right: 10px;
      }

      .text__wrapper {
        margin-right: auto;

        p:first-child {
          margin: 0;
          margin-bottom: 10px;

          color: #4f5056;
          font-family: $font-oswald-400;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
        }

        p:last-child {
          margin: 0;

          color: #aeafb5;
          font-family: $font-os-400;
          font-size: 13px;
          font-weight: 400;
          line-height: 14px;
        }
      }
    }

    button {
      position: relative;

      width: 27px;
      height: 27px;

      border: 2px solid #bfc9cd;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        top: 7.5px;
        left: calc((100% - 11px) / 2);

        width: 11px;
        height: 10px;

        background-image: url("../img/download-arrow.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }

      &:hover {
        background-color: #56c5af;
        border: 0;

        &::after {
          top: 8.5px;
          left: calc((100% - 11px) / 2);

          background-image: url("../img/download-arrow-white.png");
        }
      }
    }
  }

  .description__image {
    position: absolute;
    top: 160px;
    right: 0;

    @include old-desktop-1440 {
      width: 500px;
    }

    @include old-desktop {
      width: 30%;
    }

    @include tablet-landscape {
      display: none;
    }
  }

  .links__wrapper {
    display: flex;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    a:first-child {
      display: flex;
      align-items: center;
      padding: 10px 42px;
      margin-right: 20px;

      color: #4f5056;
      font-family: $font-os-400;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-transform: uppercase;

      border-radius: 26px;
      border: 2px solid #d4dcde;
      background-color: #f2f5f6;

      @include mobile {
        margin-bottom: 20px;
        margin-right: 0;
      }

      &::before {
        content: "";

        display: block;
        width: 11px;
        height: 15px;
        margin-right: 15px;

        background-image: url("../img/atrakal-arrow.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }

    a:last-child {
      padding: 10px 34px;
      display: flex;
      align-items: center;

      color: #ffffff;
      font-family: $font-os-700;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;

      border-radius: 26px;
      background-color: #4d71bc;

      @include mobile {
        margin-bottom: 50px;
      }

      &::before {
        content: "";

        display: block;
        width: 30px;
        height: 30px;
        margin-right: 15px;

        background-image: url("../img/f.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-size: contain;
      }
    }
  }
}
