.header {
  border-bottom: 5px solid #84cec0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 15px;

    @include mobile {
      max-width: 100%;
      margin: 0;
      padding: 0;
      height: 53px;
    }
  }

  .logo__wrapper {
    margin-right: 30px;

    @include mobile {
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 20px;
    }

    img {
      width: 262px;
      height: 47px;

      @include old-desktop {
        min-width: 262px;
      }

      @include tablet-landscape {
        min-width: 30%;
        height: auto;
      }

      @include mobile {
        width: 133px;
        height: 25px;
      }
    }
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 30px;

    @include mobile {
      display: none;
    }
  }

  .header__nav--top {
    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      list-style: none;

      @include old-desktop {
        justify-content: flex-end;
      }

      @include tablet-landscape {
        display: none;
      }
    }

    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      @include old-desktop {
        margin-right: 10px;
      }
    }

    a {
      color: #b0b8c0;
      font-family: $font-oswald-400;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: none;
    }
  }

  .header__nav--bottom {

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;

      list-style: none;

      @include old-desktop {
        justify-content: space-between;
      }

      @include tablet-landscape {
        display: none;
      }
    }

    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      @include old-desktop {
        margin-right: 0;
      }
    }

    a {
      color: #4f5056;
      font-family: $font-oswald-400;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      text-decoration: none;

      @include old-desktop {
        font-size: 16px;
      }
    }

    .active {

      a {
        padding: 5px 16px;

        color: #ffffff;

        border-radius: 19px;
        background-color: #69709b;
      }
    }
  }

  .header__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    height: 74px;

    background-color: #e8edf3;

    @include old-desktop {
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }

  .basket__pricing {
    margin-left: 10px;
    margin-right: 5px;

    @include old-desktop {
      display: none;
    }

    p:first-child {
      margin: 0;
      margin-bottom: 5px;

      color: #43c7ad;
      font-family: $font-os-700;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.4px;
    }

    .price {
      margin: 0;

      color: #909ba6;
      font-family: $font-os-400;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .basket__count {
    position: relative;

    svg {

      @include mobile {
        width: 30px;
        height: 25px;
      }
    }

    span {
      position: absolute;
      top: -7px;
      right: -5px;

      display: block;
      width: 28px;
      height: 28px;

      color: #ffffff;
      font-family: $font-os-700;
      font-size: 14px;
      font-weight: 700;
      line-height: 28px;
      text-transform: uppercase;
      text-align: center;

      background-color: #fe9439;
      border-radius: 50%;

      @include mobile {
        width: 18px;
        height: 18px;

        font-size: 9px;
        line-height: 18px;
      }
    }
  }

  .basket__arrow {
    width: 15px;
    height: 74px;

    background-color: #d6dee6;
    background-image: url("../img/down-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px 9px;

    @include old-desktop {
      display: none;
    }
  }

  .header__facebook-link {
    display: none;
    margin-right: 20px;

    img {
      width: 40px;
      height: auto;

      @include mobile {
        width: 26px;
      }
    }

    @include tablet-landscape {
      display: block;
    }
  }

  .header__hamburger-menu {
    display: none;
    margin-left: 30px;
    width: 63px;
    height: 60px;
    background-color: #e8edf3;

    svg {
      width: 50px;
      height: auto;

      @include mobile {
        width: 24px;
      }
    }

    @include tablet-landscape {
      display: block;
    }

    @include mobile {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}
