.mat {
  position: relative;

  @include tablet-landscape {
    padding-top: 100px;
  }

  @include mobile {
    padding-top: 150px;
  }

  h2 {
    position: relative;

    margin: 0;
    margin-bottom: 60px;

    color: #69709b;
    font-family: $font-oswald-400;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;

    @include tablet-landscape {
      position: absolute;
      top: -35px;
      left: calc((100% - 478px) / 2);
    }

    @include mobile {
      top: 15px;
      left: calc((100% - 255px)/ 2);

      font-size: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: calc((100% - 70px) / 2);

      width: 70px;
      height: 5px;

      background-color: #68c5b3;

      @include mobile {
        bottom: -10px;
      }
    }

    br {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }

  p {
    margin: 0;
    margin-bottom: 20px;

    color: #8a939c;
    font-family: $font-oswald-400;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .art {

    @include tablet-landscape {
      position: absolute;
      top: 46px;
      left: calc((100% - 120px)/ 2);
    }

    @include mobile {
      top: 115px;
      left: calc((100% - 100px)/ 2);

      font-size: 15px;
    }
  }

  form {
    display: flex;
    justify-content: space-between;

    @include tablet-landscape {
      flex-direction: column;
      align-items: center;
    }
  }

  .mat__image {
    margin-right: 20px;

    @include tablet-landscape {
      margin-right: 0;
    }
  }

  .mat__img-wrapper {
    position: relative;

    padding: 80px 40px 110px 40px;
    margin-bottom: 10px;

    border: 3px solid #e3e7e8;
    background-color: #ffffff;

    box-sizing: border-box;

    @include mobile {
      padding: 40px 10px 70px 10px;
      width: 290px;
      margin: 0 auto 10px auto;
    }

    img {
      width: 100%;
      height: auto;
      display: none;

      object-fit: contain;
    }

    svg {
      position: absolute;
      bottom: 10px;
      right: 10px;

      cursor: pointer;
    }
  }

  .mat__slider {

    width: 337px;
    height: 176px;
    margin-left: 48px;

    @include tablet-landscape {
      margin-bottom: 20px;
    }

    @include mobile {
      width: 290px;
      height: 152px;
      margin-left: 0;
    }

    .slider__item {
      padding: 33px 10px 36px 18px;
      margin-right: 15px;

      border: 3px solid #e3e7e8;
      background-color: #ffffff;

      box-sizing: border-box;

      @include mobile {
        margin-right: 10px;
        width: 132px !important;
        height: 152px !important;
        padding: 20px 5px 20px 5px;
      }

      img {
        width: 133px;
        height: 99px;

        object-fit: contain;
      }
    }

    .owl-item {
      width: 161px !important;
      height: 176px !important;

      @include mobile {
        width: 140px !important;
        height: 152px !important;
      }
    }
  }

  .owl-carousel .owl-stage-outer {

    @include mobile {
      height: 152px;
    }
  }

  .owl__nav {
    position: relative;

    @include mobile {
      display: none;
    }

    .owl__prev,
    .owl__next {
      position: absolute;
      top: -110px;

      cursor: pointer;
    }

    .owl__prev {
      left: 0;
    }

    .owl__next {
      right: 0;
    }
  }

  .mat__choose {
    flex-grow: 1;

    @include tablet-landscape {
      width: 100%;
    }
  }

  .mat__choose--top {
    padding-top: 30px;
    margin-bottom: 8px;

    background-color: #f2f5f6;

    & > p {
      margin: 0;
      margin-bottom: 20px;

      color: #4f5056;
      font-family: $font-oswald-400;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;

      @include mobile {
        font-size: 20px;
      }

      &:first-child {
        margin-bottom: 0;

        @include mobile {
          display: none;
        }
      }

      span {
        text-transform: uppercase;
      }
    }

    .line {
      width: 86%;
      height: 1px;
      margin: 0 auto;
      margin-bottom: 30px;

      background-color: #d2dbdd;

      @include mobile {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .color {
      display: flex;
      // justify-content: space-around;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }

      &:last-child {

        label {
          padding-top: 7px;
          margin-top: 20px;
          margin-bottom: 30px;

          @include mobile {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    .color--text {
      flex-basis: 50%;

      @include old-desktop {
        flex-basis: 40%;
      }

      p {
        margin: 0;
        margin-left: 100px;

        color: #4f5056;
        font-family: $font-os-600;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;

        @include old-desktop {
          margin-left: 15%;
        }

        @include mobile {
          margin: 0;

          text-align: center;

          &:last-child {
            margin-bottom: 10px;
          }
        }
      }

      .color-name {
        color: #4f5056;
        font-family: $font-os-400;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .color--labels {
      display: flex;
      flex-basis: 50%;

      @include old-desktop {
        flex-basis: 60%;
        justify-content: space-evenly;
      }

      @include mobile {
        margin-bottom: 20px;
      }

      label {
        width: 75px;
        height: 75px;
        display: block;
        padding-top: 4px;
        margin-right: 20px;

        text-align: center;

        border: 3px solid #e3e7e8;
        background-color: #ffffff;
        border-radius: 50%;

        box-sizing: border-box;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .mat__choose--bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 20px 40px 20px;

    background-color: #f2f5f6;

    @include old-desktop {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    @include mobile {
      flex-direction: column;
      align-itens: center;
      padding: 15px 20px 20px 20px;
    }

    button {
      padding: 15px 35px;
      display: flex;
      align-items: center;

      color: #ffffff;
      font-family: $font-os-400;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;

      border-radius: 26px;
      background-color: #f68c31;

      &::after {
        content: "";

        display: block;
        width: 28px;
        height: 21px;
        margin-left: 8px;

        background-image: url("../img/cart-white.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .pricing {

    @include old-desktop {
      margin-right: 50px;
      margin-bottom: 20px;
    }

    @include mobile {
      margin-right: 0;
    }

    p {
      margin: 0;

      text-align: left;
    }

    .price {
      margin-bottom: 10px;

      color: #69709b;
      font-size: 32px;
      line-height: 30px;
      font-family: $font-oswald-300;
      font-weight: 300;

      span {
        font-family: $font-oswald-400;
        font-weight: 400;
      }
    }

    .old-price {
      color: #aeafaf;
      font-family: $font-oswald-300;
      font-size: 23px;
      font-weight: 300;
      line-height: 30px;

      span {
        text-decoration: line-through;
      }
    }
  }

  .quantity {
    position: relative;

    @include mobile {
      margin-bottom: 20px;
    }

    .minus,
    .plus {
      position: absolute;
      z-index: 10;

      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #68c5b3;
      border-radius: 50%;

      text-align: center;
      color: #ffffff;

      cursor: pointer;
    }

    .minus {
      top: 4px;
      left: 5px;

      span {
        width: 15px;
        height: 3px;
        background-color: #ffffff;
      }
    }

    .plus {
      top: 4px;
      right: 5px;

      span {
        width: 15px;
        height: 3px;
        background-color: #ffffff;

        &:last-child {
          position: absolute;
          top: calc((100% - 15px) / 2);
          left: calc((100% - 3px) / 2);

          width: 3px;
          height: 15px;
        }
      }
    }

    input {
      width: 161px;
      height: 52px;

      border-radius: 26px;
      border: 3px solid #e3e7e8;
      background-color: #ffffff;

      color: #707173;
      font-family: $font-os-600;
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;

      outline: none;
      box-sizing: border-box;
    }
  }
}

#mat-color-1:checked ~ .mat__choose label[for="mat-color-1"],
#mat-color-2:checked ~ .mat__choose label[for="mat-color-2"],
#mat-color-3:checked ~ .mat__choose label[for="mat-color-3"],
#mat-color-4:checked ~ .mat__choose label[for="mat-color-4"],
#mat-color-5:checked ~ .mat__choose label[for="mat-color-5"],
#mat-color-6:checked ~ .mat__choose label[for="mat-color-6"] {
  border: 3px solid #adb7ba;
}

#mat-color-1:checked ~ .mat__image img:nth-of-type(1) {
  display: block;
}

#mat-color-1:checked ~ .mat__image img:nth-of-type(2) {
  display: none;
}

#mat-color-1:checked ~ .mat__image img:nth-of-type(3) {
  display: none;
}

#mat-color-2:checked ~ .mat__image img:nth-of-type(1) {
  display: none;
}

#mat-color-2:checked ~ .mat__image img:nth-of-type(2) {
  display: block;
}

#mat-color-2:checked ~ .mat__image img:nth-of-type(3) {
  display: none;
}

#mat-color-3:checked ~ .mat__image img:nth-of-type(1) {
  display: none;
}

#mat-color-3:checked ~ .mat__image img:nth-of-type(2) {
  display: none;
}

#mat-color-3:checked ~ .mat__image img:nth-of-type(3) {
  display: block;
}

#mat-color-4:checked ~ .mat__image img:nth-of-type(1) {
  display: block;
}

#mat-color-4:checked ~ .mat__image img:nth-of-type(2) {
  display: none;
}

#mat-color-4:checked ~ .mat__image img:nth-of-type(3) {
  display: none;
}

#mat-color-5:checked ~ .mat__image img:nth-of-type(1) {
  display: none;
}

#mat-color-5:checked ~ .mat__image img:nth-of-type(2) {
  display: block;
}

#mat-color-5:checked ~ .mat__image img:nth-of-type(3) {
  display: none;
}

#mat-color-6:checked ~ .mat__image img:nth-of-type(1) {
  display: none;
}

#mat-color-6:checked ~ .mat__image img:nth-of-type(2) {
  display: none;
}

#mat-color-6:checked ~ .mat__image img:nth-of-type(3) {
  display: block;
}
