$font-oswald-300: "Oswald-Light", sans-serif;
$font-oswald-400: "Oswald-Regular", sans-serif;
$font-oswald-500: "Oswald-Medium", sans-serif;
$font-os-300: "OpenSans-Light", sans-serif;
$font-os-400: "OpenSans-Regular", sans-serif;
$font-os-600: "OpenSans-SemiBold", sans-serif;
$font-os-700: "OpenSans-Bold", sans-serif;
